<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="/static/Courier BOLD/Courier BOLD.ttf">
    <title>Lucas Carneiro</title>
</head>
<body>
    <header title="header">
        <img id="logo" src="/static/img/logo.png" alt="Lucas Carneiro" srcset="">
        <nav id="navbar">
            <li><a title="Click to return to homepage" onclick="hideAll()">home</a></li>
            <li><a title="Click to see projects" onclick="hideAll(),show('projects')">projects</a></li>
            <li><a title="Click to see about" onclick="hideAll(),show('about')">about</a></li>
            <li><a title="Click to see blog" onclick="hideAll(),show('blog')">blog</a></li>
            <li><a href="https://discord.gg/xMwHnh5QdX" target="blank" title="Click to join #66daysofcode" onclick="hideAll(),show('#66daysofcode')" style="color: blue;">#66daysofcode</a></li>
        </nav>
        <p id="developer">&lt/developer&gt</p>
    </header>
    <div id="home" title="homepage">
        <img class="mac" src="/static/img/macpng.png" alt="">
        <div class="circle">
            <span style="--i:1;">C</span>
            <span style="--i:2;">O</span>
            <span style="--i:3;">D</span>
            <span style="--i:4;">I</span>
            <span style="--i:5;">N</span>
            <span style="--i:6;">G</span>
            <span style="--i:7;"> </span>
            <span style="--i:8;">M</span>
            <span style="--i:9;">O</span>
            <span style="--i:10;">V</span>
            <span style="--i:11;">E</span>
            <span style="--i:12;"> </span>
            <span style="--i:13;">T</span>
            <span style="--i:14;">H</span>
            <span style="--i:15;">E</span>
            <span style="--i:16;"> </span>
            <span style="--i:17;">W</span>
            <span style="--i:18;">O</span>
            <span style="--i:19;">R</span>
            <span style="--i:20;">L</span>
            <span style="--i:21;">D</span>
            <span style="--i:22;">-</span>
            <span style="--i:23;">C</span>
            <span style="--i:24;">O</span>
            <span style="--i:25;">D</span>
            <span style="--i:26;">I</span>
            <span style="--i:27;">N</span>
            <span style="--i:28;">G</span>
            <span style="--i:29;"> </span>
            <span style="--i:30;">M</span>
            <span style="--i:31;">O</span>
            <span style="--i:32;">V</span>
            <span style="--i:33;">E</span>
            <span style="--i:34;"> </span>
            <span style="--i:35;">T</span>
            <span style="--i:36;">H</span>
            <span style="--i:37;">E</span>
            <span style="--i:38;"> </span>
            <span style="--i:39;">W</span>
            <span style="--i:40;">O</span>
            <span style="--i:41;">R</span>
            <span style="--i:42;">L</span>
            <span style="--i:43;">D</span>
            <span style="--i:44;">-</span>
        </div>
    </div>
    <section id="about" title="about">
        <span class="closeAll">
            <h3 onclick="show('about')" title="Click to close all">- x</h3>
        </span>
        <div id="rings" title="Animated rings">
            <div class="ring">
                <span style="--i:1;">C</span>
                <span style="--i:2;">O</span>
                <span style="--i:3;">D</span>
                <span style="--i:4;">I</span>
                <span style="--i:5;">N</span>
                <span style="--i:6;">G</span>
                <span style="--i:7;"> </span>
                <span style="--i:8;">M</span>
                <span style="--i:9;">O</span>
                <span style="--i:10;">V</span>
                <span style="--i:11;">E</span>
                <span style="--i:12;"> </span>
                <span style="--i:13;">T</span>
                <span style="--i:14;">H</span>
                <span style="--i:15;">E</span>
                <span style="--i:16;"> </span>
                <span style="--i:17;">W</span>
                <span style="--i:18;">O</span>
                <span style="--i:19;">R</span>
                <span style="--i:20;">L</span>
                <span style="--i:21;">D</span>
                <span style="--i:22;">-</span>
            </div>
            <div class="ring">
                <span style="--i:1;">C</span>
                <span style="--i:2;">O</span>
                <span style="--i:3;">D</span>
                <span style="--i:4;">I</span>
                <span style="--i:5;">N</span>
                <span style="--i:6;">G</span>
                <span style="--i:7;"> </span>
                <span style="--i:8;">M</span>
                <span style="--i:9;">O</span>
                <span style="--i:10;">V</span>
                <span style="--i:11;">E</span>
                <span style="--i:12;"> </span>
                <span style="--i:13;">T</span>
                <span style="--i:14;">H</span>
                <span style="--i:15;">E</span>
                <span style="--i:16;"> </span>
                <span style="--i:17;">W</span>
                <span style="--i:18;">O</span>
                <span style="--i:19;">R</span>
                <span style="--i:20;">L</span>
                <span style="--i:21;">D</span>
                <span style="--i:22;">-</span>
            </div>
            <div class="ring">
                <span style="--i:1;">C</span>
                <span style="--i:2;">O</span>
                <span style="--i:3;">D</span>
                <span style="--i:4;">I</span>
                <span style="--i:5;">N</span>
                <span style="--i:6;">G</span>
                <span style="--i:7;"> </span>
                <span style="--i:8;">M</span>
                <span style="--i:9;">O</span>
                <span style="--i:10;">V</span>
                <span style="--i:11;">E</span>
                <span style="--i:12;"> </span>
                <span style="--i:13;">T</span>
                <span style="--i:14;">H</span>
                <span style="--i:15;">E</span>
                <span style="--i:16;"> </span>
                <span style="--i:17;">W</span>
                <span style="--i:18;">O</span>
                <span style="--i:19;">R</span>
                <span style="--i:20;">L</span>
                <span style="--i:21;">D</span>
                <span style="--i:22;">-</span>
            </div>
        </div>
        <div id="aboutLucas">
            <span class="head">
                <span class="close">
                    <h2>about lucas</h2>
                    <div>
                        <h3>?</h3>
                        <h3 onclick="show('aboutLucas')" title="Click to close about">x</h3>
                    </div>
                </span>
            </span>
            <div id="info">
                <img src="/static/img/photo.jpg" alt="Profile picture" title="Profile picture" id="photo">
                <div>
                    <p>Olá, eu sou o Lucas e<br>sou desenvolvedor.</p>
                    <div id="skills">
                        <div id="skill" title="HTML skills at 25%">
                            <img src="/static/img/html.png" alt="HTML" title="HTML">
                            <div class="skillLevel" title="HTML skills at 25%">
                                <div class="skillmeter">
                                </div>
                            </div>
                            <h3>25.0%</h3>
                        </div>
                        <div id="skill" title="CSS skills at 20%">
                            <img src="/static/img/css3.png" alt="CSS3" title="CSS3">
                            <div class="skillLevel" title="CSS skills at 20%">
                                <div class="skillmeter">
                                </div>
                            </div>
                            <h3>35.0%</h3>
                        </div>
                        <div id="skill" title="Javascript skills at 20%">
                            <img src="/static/img/javascript.png" alt="Javascript" title="Javascript">
                            <div class="skillLevel" title="Javascript skills at 20%">
                                <div class="skillmeter">
                                </div>
                            </div>
                            <h3>25.0%</h3>
                        </div>
                        <div id="skill" title="Python skills at 30%">
                            <img src="/static/img/python.png" alt="Python" title="Python">
                            <div class="skillLevel" title="Python skills at 30%">
                                <div class="skillmeter">
                                </div>
                            </div>
                            <h3>30.0%</h3>
                        </div>
                        <div id="skill" title="Flask skills at 2%">
                            <img src="/static/img/flask.png" alt="Flask" title="Flask">
                            <div class="skillLevel" title="Flask skills at 2%">
                                <div class="skillmeter">
                                </div>
                            </div>
                            <h3>2.0%</h3>
                        </div>
                    </div>
                    <a href="/curriculum.pdf" target="_blank"><button class="button">Curriculum</button></a>
                    <button onclick="show('contact')" class="button">Contact me!</button>
                </div>
            </div>
        </div>
        <div id="run">
            <span class="head">
                <span class="close">
                    <h2>Run</h2>
                </span>
            </span>
            <div>
                <div>
                    <p>digite projetos, blog ou #66daysofcode para acessar</p><br>
                    <form action="">
                        <label for="open">Open: </label>
                        <input type="text" name="open">
                    </form>
                </div>
            </div>
        </div>
        <div id="code">
            <span class="head">
                <span class="close">
                    <h2>lucas.py</h2>
                    <div>
                        <h3>?</h3>
                        <h3 onclick="show('code')" title="Click to close about">x</h3>
                    </div>
                </span>
            </span>
            <div id="info">
                <p id="type"></p>
            </div>
        </div>
        <div id="contact">
            <span class="head">
                <span class="close">
                    <h2>Contact me!</h2>
                    <div>
                        <h3>?</h3>
                        <h3 onclick="show('contact')" title="Click to close contact me.">x</h3>
                    </div>
                </span>
            </span>
            <ul>
                <a href="https://www.linkedin.com/in/lucascarneirodev/" target="blank"><img
                        src="/static/img/linkedin.png" alt="Linkedin Logo" title="Click to see my Linkedin">
                    <a href="https://github.com/lucascarneiro-dev/" target="blank"><img href=""
                            src="/static/img/GitHub.png" alt="Github Logo" title="Click to see my Github"></a>
                    <a href="https://www.instagram.com/luks.car/" target="blank"><img src="/static/img/instagram.png"
                            alt="Instagram Logo" title="Click to see my instagram"></a>
                    <a href="https://www.facebook.com/lucas.carneiro.3386/" target="blank"><img
                            src="/static/img/facebook.png" alt="Facebook Logo" title="Click to see my facebook"></a>
            </ul>
            <form action="/send" method="POST">
                <label for="firstname" title="firstname">Name: </label>
                <input name='firstname' type="text" id="firstname" title="Type your name"placeholder="Type your name">
                
                <label for="phone" title="Celphone">Celphone: </label>
                <input name='phone' type="tel" id="phone" title="Typer your celphone number" placeholder="+00(DDD)99999-9999">
                
                <label for="email" title="E-mail">E-mail: </label>
                <input name='email' type="text" id="email" title="Type your e-mail" placeholder="youremail@mail.com">
                
                <label for="message" title="Message">Message:</label>
                <textarea name="message" id="message" title="Type your message"cols="30" rows="10" placeholder="Type your message:"> </textarea>
                
                <button type="submit" id="send">Submit E-mail</button>
            </form>

            <!-- <div id=loading>
                <img src="/static/img/loading.png" alt="">
                <p>enviando</p>
            </div>             -->
        </div>
    </section>
    <section id="projects" title="projects">
        <span class="closeAll">
            <h3 onclick="show('projects')" title="Click to close all">- x</h3>
        </span>
        <div class="title" title="Title: Projects">
            <h2>&lth2&gt</h2>
            <h1>Projetos</h1>
            <h2>&lt/h2&gt</h2>
        </div>
        <div class="projectList">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </section>
    <script src="/static/js/script.js"></script>
    <!-- <script src="splitting.js"></script>
    <script>
        // Splitting();
    </script> -->
</body>

</html>